body {
            
            font-family: 'Raleway Dots', serif;
            margin:0;
        }

h1{
    color: #e6f2ff;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    font-weight: 800;
}

h2{
    margin-top: 75px;
    color: #e6f2ff;
    font-size: 65px;
    margin-bottom: 2px;
    font-weight: 800;
    letter-spacing: 10px;
}
h3{
    color: #e6f2ff;
    font-size: 15px;
    margin-top: 2px;
    font-weight: bolder;
    letter-spacing: 7px;
}


li {
    display: inline-block;
    text-align: center;

}

a{
    color:purple;
}

.title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 180px;
}


.container {
    background: url('earth.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}


.bio {
    color: gray;
    font-size: 25px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 90px;
    font-weight: 800;

}

.me{
    height: 125px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}



.nav-link{
    font-size: 18px;
    color: #e6f2ff;
    text-decoration: none;
}

.interesting {
    border-style: solid;
    border-color: #e6f2ff;
    border-width: 1px;
}
