body {
            
            font-family: 'Raleway Dots', serif;
            margin:0;
        }

h1{
    color: #e6f2ff;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    font-weight: 800;
}

h2{
    margin-top: 75px;
    color: #e6f2ff;
    font-size: 65px;
    margin-bottom: 2px;
    font-weight: 800;
    letter-spacing: 10px;
}
h3{
    color: #e6f2ff;
    font-size: 15px;
    margin-top: 2px;
    font-weight: bolder;
    letter-spacing: 7px;
}

h4{
    color: black;
    font-size: 28px;
    font-weight: bolder;
    
}

h5{
    color: black;
    font-size: 35px;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 100px;
}


li {
    display: inline-block;
    text-align: left;
    margin: 0 0 10px 10px;

}

a{
    color: purple;
}

p{
    text-align: center;

}

.bar {

    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 25px;
    background-color: lightgray;
    padding-top: 4px;
    padding-bottom: 4px;
}

.bio {
    color: gray;
    font-size: 25px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 90px;
    font-weight: 800;

}

.blue {
    border-top: 5px double darkgrey;
    width: 250px;
}

.box {
    float: left;
    width: 42.5%;
    margin-left: 2%;
    margin-top: 80px;
}

.clear {

    clear: both;
}

.copyright {
    color: #e6f2ff;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.copyright:before {
    content: "\00a9 Jane Thompson 2017.";
}

.container {
    background: url('earth.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}

.contact{
    height: 350px;
    background-color: #202020;
    padding-top: 30px;
}

.contact-headline {
    font-size: 30px;
    text-align: center;
}

.contact-link {
    color: #e6f2ff;
    font-size: 19px;
    font-weight: normal;
    
}

.contact-link:hover {
    color: red;
}


.email {
    color: black;
    text-align: center;
    font-weight: 100;
}

.email-me {
    color: #e6f2ff;
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    margin-top: 15px;

}



.interesting {
    border-style: solid;
    border-color: #e6f2ff;
    border-width: 1px;
    letter-spacing: 3px;
    font-size: 15px;
}

.links {
    align-content: center;
}

.logo {
    border-radius: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}


.logo:hover {
    border-radius: 100%;
    -webkit-filter: grayscale(10%);
    -moz-filter: grayscale(10%);
    -o-filter: grayscale(10%);
    -ms-filter: grayscale(10%);
    filter: grayscale(10%); 
}

.logo:hover {
    outline: 5px red;
}

.me {
    height: 125px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    margin-top: 40px;
    margin-bottom: 0px;
    
}


.nav-link {
    font-size: 20px;
    color: #595959;
    text-decoration: none;
    text-align: right;
    font-weight: bold;
}


.nav-link:hover {
    color: red;
}

/*.section1{
    background: url('quagga.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}*/

.title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 180px;
}

.yellow {
    border-bottom: none;
    border-right: none;
    width: 850px;
    border-top: 5px double #F5A623;
}
















