body {
            
            font-family: 'Raleway Dots', serif;
            margin:0;
        }

h1{
    color: #e6f2ff;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    font-weight: 800;
}

h2{
    margin-top: 75px;
    color: #e6f2ff;
    font-size: 65px;
    margin-bottom: 2px;
    font-weight: 800;
    letter-spacing: 10px;
}
h3{
    color: #e6f2ff;
    font-size: 15px;
    margin-top: 2px;
    font-weight: bolder;
    letter-spacing: 7px;
}

h4{
    color: black;
    font-size: 35px;
}

h5{
    color: black;
    font-size: 35px;
}


li {
    display: inline-block;
    text-align: left;
    margin: 0 0 10px 10px;

}

a{
    color:purple;
}

.bar {

    text-align: right;
    margin-right: 10px;
    margin-top: -100px;
}

.bio {
    color: gray;
    font-size: 25px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 90px;
    font-weight: 800;

}

.container {
    background: url('earth.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}

.contact{
    height: 350px;
    background-color: #202020;
    padding-top: 30px;
}

.contact-headline {
    font-size: 30px;
    text-align: center;
}

.contact-link {
    color: #e6f2ff;
    font-size: 19px;
    font-weight: bold;
    
}

.email {
    color: black;
    text-align: center;
}


.interesting {
    border-style: solid;
    border-color: #e6f2ff;
    border-width: 1px;
    letter-spacing: 3px;
    font-size: 15px;
}

.me{
    height: 125px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}


.nav-link{
    font-size: 18px;
    color: #e6f2ff;
    text-decoration: none;
    text-align: right;
}


.nav-link:hover {
    color:#00ffff;
}

.section1{
    background: url('quagga.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}

.title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 180px;
}

.yellow {
    border-bottom: none;
    border-right: none;
    width: 850px;
    border-top: 5px double #F5A623;
}
















